
<div class="content" role="main">

  <h1>{{ title }} app is running!</h1>

  <!-- Resources -->
  <h2>Jeff is super awesome</h2>


  <app-user [name]="rootName" (nameChanged)="onNameChanged($event)"></app-user>

  <app-dashboard [myText] = "'this is the altered text'"></app-dashboard>
  <!-- items prop for cart component has it's value initially set from outside by rootItems variable in app component(which links to this html file) -->
  <app-cart [items]="rootItems"></app-cart>
  <app-counter></app-counter>
</div>


